CompileFlags:
  Add: [-xc, -std=c99, -Wall, -Wextra]
  
Diagnostics:
  Suppress: 
    - unused-parameter
    - missing-prototypes

# Index configuration
Index:
  Background: Build
  StandardLibrary: Yes
